._local {
      z-index: 1;

      :global {
            .wave_items {
                  width: 932px;

                  .wave_item {
                        width: 100%/9;
                        height: 380px;
                        background-color: white;
                        margin-right: 4px;
                        transition: all cubic-bezier(0.86, 0, 0.07, 1) 0.4s;

                        &:last-child {
                              margin-right: 0;
                        }

                        &.item_0 {
                              width: 720px;
                              transform: scaleY(1.2);
                              z-index: 2;

                              &.offset_1 {
                                    width: 720px - 20px;
                              }

                              &.offset_2 {
                                    width: 720px - 60px;
                              }

                              &.offset_3 {
                                    width: 720px - 80px;
                              }

                              &.offset_4 {
                                    width: 720px - 130px;
                              }
                        }

                        &.item_1 {
                              width: calc(~'100% / 8 - 10px');
                              transform: scaleY(1);
                        }

                        &.item_2 {
                              width: calc(~'100% / 8 - 20px');
                              transform: scaleY(0.995);
                        }

                        &.item_3 {
                              width: calc(~'100% / 8 - 30px');
                              transform: scaleY(0.99);
                        }

                        &.item_4 {
                              width: calc(~'100% / 8 - 40px');
                              transform: scaleY(0.985);
                        }

                        &.item_5 {
                              width: calc(~'100% / 8 - 50px');
                              transform: scaleY(0.98);
                        }

                        &.item_6 {
                              width: calc(~'100% / 8 - 60px');
                              transform: scaleY(0.975);
                        }

                        &.item_7 {
                              width: calc(~'100% / 8 - 70px');
                              transform: scaleY(0.97);
                        }

                        &.item_8 {
                              width: calc(~'100% / 8 - 80px');
                              transform: scaleY(0.965);
                        }
                  }
            }
      }
}