._local {
      z-index: 1;

      :global {
            @interval: 24px;

            .wave_item {
                  width: 100px;
                  height: 380px;
                  padding: @interval;
                  background-color: white;
                  margin-right: 4px;

                  &:hover {
                        width: 380px;
                        transform: scale(1.2);
                  }
            }
      }
}