._local {
      :global {
            #wave{
                  background-color: black;
                  #myCanvas {
                        position: absolute;
                        top: 200px;
                  }
      
                  #myCanvas1 {
                        position: absolute;
                        top: 110px;
                  }
      
                  #wavejs {
                        position: absolute;
                        top: 550px;
                        left: 735px;
                        color: white;
                        font-family: "arial, helvetica, sans-serif";
      
                  }
            }
      }
}