@keyframes playing {
      from {
            transform: rotate(0);
      }

      to {
            transform: rotate(360deg);
      }
}

@keyframes shaking {
      0% {
            transform: scale(1);
            filter:blur(0px) brightness(0.6);
      }

      50% {
            transform: scale(3);
            filter:blur(10px) brightness(1);
      }

      100% {
            transform: scale(1);
            filter:blur(0px) brightness(0.8);
      }
}

._local {
      z-index: 2;

      :global {
            #audio {
                  display: none;
            }

            .player {
                  width: var(--width_player);
                  height: 72px;
                  margin-bottom: 24px;
                  border-radius: 36px;
                  background-color: rgba(0, 0, 0, 0.6);
                  background: var(--color_gradient);
                  backdrop-filter: blur(5px);
                  overflow: hidden;

                  .bg_cover {
                        z-index: 3;
                        filter:blur(0px) brightness(0.8);

                        :local {
                              animation: shaking infinite 200s;
                              animation-timing-function: linear;
                        }

                        &.playing {
                              :local {
                                    animation-play-state: running;
                              }
                        }

                        &.pause {
                              opacity: 0;

                              :local {
                                    animation-play-state: paused;
                              }
                        }
                  }

                  .info_wrap {
                        z-index: 4;
                        padding-left: 12px;
                        padding-right: 20px;
                  }

                  .cover {
                        width: 48px;
                        height: 48px;
                        margin-right: 12px;
                        border: 1px solid rgba(255, 255, 255, 0.15);
                        border-radius: 24px;
                        overflow: hidden;

                        :local {
                              animation: playing infinite 12s;
                              animation-timing-function: linear;
                        }

                        &.playing {
                              :local {
                                    animation-play-state: running;
                              }
                        }

                        &.pause {
                              :local {
                                    animation-play-state: paused;
                              }
                        }

                        .img_cover {
                              width: 100%;

                              &.placeholder {
                                    width: 40%;
                              }
                        }
                  }

                  .controls_wrap {
                        z-index: 5;

                        .controls {

                              .next,
                              .prev {
                                    font-size: 24px;
                              }

                              .status_wrap {
                                    width: 48px;
                                    height: 48px;

                                    .start_pause {
                                          font-size: 30px;
                                    }

                                    .icon_play {
                                          width: 26px;
                                          margin-right: -4px;
                                    }
                              }
                        }
                  }

                  .producer_wrap {
                        width: 132px;
                        line-height: 1;

                        .song_name {
                              font-size: 14px;
                              margin-bottom: 6px;
                              font-weight: bold;
                        }

                        .producer {
                              font-size: 12px;

                              .producer_name {
                                    white-space: nowrap;

                                    &:last-child {
                                          &::after {
                                                display: none;
                                          }
                                    }

                                    &::after {
                                          content: '/';
                                          display: inline-block;
                                    }

                              }
                        }
                  }

                  .options_wrap {
                        .duration_value {
                              padding-right: 16px;
                              margin-right: 6px;
                              color: rgba(255, 255, 255, 0.5);
                              font-size: 13px;
                              border-right: 1px solid rgba(255, 255, 255, 0.3);
                        }

                        .option {
                              margin-left: 10px;
                              font-size: 16px;
                        }
                  }
            }
      }
}