@keyframes show_mask {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

@keyframes show_info {
      from {
            opacity: 0;
            transform: translateY(-20px);
      }

      to {
            opacity: 1;
            transform: translateY(0);
      }
}

:global {

      .confirm_clear_storage {
            .ant-modal-content {
                  border-radius: 20px;
                  background-color: black;
                  border: 1px solid #333;
                  box-shadow: 0 0 30px #333;

                  .ant-modal-body {

                        .ant-modal-confirm-title,
                        .ant-modal-confirm-content {
                              color: white;
                        }

                        .ant-modal-confirm-btns {
                              .ant-btn {
                                    color: white;
                                    background-color: transparent;
                                    border-radius: 120px;
                                    border: 1px solid white;

                                    &.ant-btn-primary {
                                          background-color: white;
                                          color: black;
                                    }
                              }
                        }
                  }
            }
      }
}

._local {
      z-index: 4;

      :global {
            .mask {
                  z-index: 10;
                  touch-action: none;
                  background-color: rgba(0, 0, 0, 0.3);
                  backdrop-filter: blur(10px);

                  :local {
                        animation: show_mask 0.3s;
                  }
            }

            .list_wrap {
                  z-index: 11;
                  font-family: Verdana;
                  touch-action: none;
                  transform-origin: top;
                  opacity: 0;

                  :local {
                        animation: show_info 0.3s forwards;
                        animation-delay: 0.3s;
                  }

                  .list {
                        width: var(--width_playlist);
                        height: 72vh;

                        .btn_close {
                              bottom: -60px;
                              right: calc(~'50% - 12px');
                              opacity: 1;
                        }

                        .options_wrap {
                              top: -24px;
                              z-index: 13;
                              padding-bottom: 12px;
                              border-bottom: 1px solid rgba(255, 255, 255, 0.15);

                              .left {
                                    width: 240px;
                                    padding-right: 20px;
                                    border-right: 1px solid rgba(255, 255, 255, 0.15);

                                    .playlist_title{
                                          opacity: 0.6;
                                          font-size: 13px;
                                    }
                              }

                              .right {
                                    width: calc(~'100% - 240px');

                                    .th_items {
                                          padding-left: 20px;
                                          opacity: 0.6;
                                          font-size: 13px;

                                          .th_item:nth-of-type(1) {
                                                width: 50%;
                                                padding-left: 30px;
                                                display: inline-block;
                                                box-sizing: border-box;
                                          }

                                          .th_item:nth-of-type(2) {
                                                width: 22%;
                                          }

                                          .th_item:nth-of-type(3) {
                                                width: 28%;
                                          }
                                    }
                              }

                              .sync {
                                    transform: rotate(90deg);
                              }

                              .anticon {
                                    cursor: pointer;
                                    opacity: 0.6;

                                    &:hover {
                                          opacity: 1;
                                    }
                              }
                        }

                        .playlist_mask {
                              height: 36px;
                              z-index: 12;

                              &.top_mask {
                                    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
                              }

                              &.bottom_mask {
                                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                              }
                        }

                        .playlist_wrap {
                              width: 240px;
                              height: 72vh;
                              overflow: auto;
                              border-right: 1px solid rgba(255, 255, 255, 0.15);

                              .playlist {
                                    width: 100%;
                                    padding: 24px 0;

                                    .playlist_item {
                                          height: 44px;
                                          border-right: 2px solid transparent;
                                          cursor: pointer;

                                          &:hover,
                                          &.active {

                                                .icon_playlist,
                                                .list_name {
                                                      opacity: 1;
                                                }
                                          }

                                          &:hover {
                                                .icon_playlist {
                                                      opacity: 0.5;
                                                }
                                          }

                                          &:last-child {
                                                margin-bottom: 24px;
                                          }

                                          .icon_playlist {
                                                width: 28px;
                                                opacity: 0.5;
                                          }

                                          .list_name {
                                                width: calc(~'100% - 28px');
                                                padding-left: 4px;
                                                padding-right: 20px;
                                                font-size: 13px;
                                                opacity: 0.4;
                                          }
                                    }
                              }
                        }

                        .songlist_wrap {
                              width: calc(~'100% - 240px');
                              height: 72vh;
                              overflow: auto;

                              .songlist {
                                    width: 100%;
                                    padding: 24px 0;
                                    padding-left: 20px;

                                    .songlist_item {
                                          height: 48px;

                                          &:hover,
                                          &.active {
                                                .icon_song {
                                                      opacity: 1;
                                                }

                                                .list_name,
                                                .producer,
                                                .list_album {
                                                      opacity: 1;
                                                }
                                          }

                                          &:hover {
                                                .icon_song {
                                                      opacity: 0.5;
                                                }
                                          }

                                          &:last-child {
                                                margin-bottom: 24px;
                                          }

                                          .icon_song {
                                                width: 16px;
                                                opacity: 0.5;
                                          }

                                          .list_name {
                                                width: 50%;
                                                padding-left: 32px;
                                                padding-right: 40px;
                                                cursor: pointer;
                                                font-size: 13px;
                                                opacity: 0.4;
                                          }

                                          .producer {
                                                width: 22%;
                                                padding-right: 40px;
                                                opacity: 0.8;
                                                font-size: 13px;
                                                opacity: 0.4;

                                                .producer_name {
                                                      white-space: nowrap;

                                                      &:last-child {
                                                            &::after {
                                                                  display: none;
                                                            }
                                                      }

                                                      &::after {
                                                            content: '/';
                                                            display: inline-block;
                                                      }

                                                }
                                          }

                                          .list_album {
                                                width: 28%;
                                                font-size: 13px;
                                                opacity: 0.4;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}